.body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.div {
  padding: 20px;
  margin: 10px;
}

.content {
  background-color: white;
}

.section1 {
  text-align: center;
  font-family: cursive;
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 5px;
}

.footer a {
  color: white;
  text-decoration: none;
  margin: 10px;
}

.footer a:hover {
  text-decoration: underline;
}

/* huvudmeny */
.body,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-logo a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px;
}

.navbar-links li a:hover {
  background-color: #575757;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar-links {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    width: 100%;

    
  }

  .navbar-links li a {
    display: block;
    width: 100%;
    text-align: left;
    padding: 10px;
    text-align: center;
  }
}


