.flex-container{
    display: flex;
    flex-direction: row;
    background-color: aqua;
    align-items: center;
    justify-content: center;
    

}

.flex-container > div {
    background-color: black;
    flex: 50%;
    margin: 15px;
    text-align: center;
    color: white;
    
    
}



.responsive{
    max-width: 100%;
  height: auto;
  display: block;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {

    .flex-container{
        display: flex;
        flex-direction: column;
        background-color: aqua;
        align-items: center;
        justify-content: center;
    
    }

    .flex-container > div {
        background-color: black;
        flex: 50%;
        margin: 15px;
        text-align: center;
        color: white;
        
        
    }

    
   

    

}





/* huvudmeny */
body, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}


.navbar-logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}


.navbar-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.navbar-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
}

.navbar-links li a:hover {
    background-color: #575757;
    border-radius: 5px;
}


@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        width: 100%;
    }

    .navbar-links li a {
        display: block;
        width: 100%;
        text-align: left;
        padding: 10px;
    }

        
}

footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: white;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #007bff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}



